.btnText {
  position: relative;
  display: inline-block;
  margin: 0;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0 0 1px;
  color: #555555;
  border-bottom: 1px solid #cccccc;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.btnText:hover {
  color: #000000;
}

.btnText::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-bottom: 1px solid #000000;
  transition: width 0.2s ease-in-out;
}

.btnText:hover::after {
  width: 100%;
}

.btnTextWhite {
  composes: btnText;
  color: #999999;
  border-color: #555555;
}

.btnTextWhite:hover {
  color: #ffffff;
}

.btnTextWhite::after {
  border-color: #ffffff;
}
