@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*--------------------------------------------------------------
  Roboto
  --------------------------------------------------------------*/
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/Roboto-Light.woff2') format('woff2'),
      url('/fonts/Roboto-Light.woff') format('woff');
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('/fonts/Roboto-LightItalic.woff2') format('woff2'),
      url('/fonts/Roboto-LightItalic.woff') format('woff');
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Roboto-Regular.woff2') format('woff2'),
      url('/fonts/Roboto-Regular.woff') format('woff');
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/Roboto-Italic.woff2') format('woff2'),
      url('/fonts/Roboto-Italic.woff') format('woff');
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Roboto-Medium.woff2') format('woff2'),
      url('/fonts/Roboto-Medium.woff') format('woff');
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('/fonts/Roboto-MediumItalic.woff2') format('woff2'),
      url('/fonts/Roboto-MediumItalic.woff') format('woff');
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Roboto-Bold.woff2') format('woff2'),
      url('/fonts/Roboto-Bold.woff') format('woff');
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/Roboto-BoldItalic.woff2') format('woff2'),
      url('/fonts/Roboto-BoldItalic.woff') format('woff');
    font-display: swap;
  }
  /*--------------------------------------------------------------
  End Roboto
  --------------------------------------------------------------*/

  *,
  ::after,
  ::before {
    @apply box-border;
    @apply antialiased;
  }

  html,
  body,
  body > div:first-child {
    @apply h-full;
  }

  body,
  button,
  input {
    @apply text-gray-500;
    @apply font-light;
    @apply text-base sm:text-lg xl:text-xl;
    @apply tracking-px;
    @apply leading-normal;
  }

  .dark body {
    @apply bg-gray-650;
  }

  .dark body,
  .dark button {
    @apply text-gray-300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-gray-800;
  }

  .dark h1,
  .dark h2,
  .dark h3,
  .dark h4,
  .dark h5,
  .dark h6 {
    @apply text-gray-100;
  }

  p a {
    @apply relative;
    @apply inline-block;
    @apply transition-colors;
    @apply duration-300;
  }

  p a:hover {
    @apply text-black;
  }

  .dark p a:hover {
    @apply text-white;
  }

  p a::before,
  p a::after {
    @apply absolute;
    @apply bottom-0;
    @apply right-0;
    @apply z-0;
    @apply w-full;
    @apply h-px;
    @apply bg-black;
    @apply pointer-events-none;

    content: '';
  }

  .dark p a::before,
  .dark p a::after {
    @apply bg-white;
  }

  p a::before,
  .dark p a::before {
    @apply w-full;
    @apply bg-opacity-20;
  }

  p a::after,
  .dark p a::after {
    @apply w-0;
    @apply transition-width;
    @apply duration-500;
  }

  p a:hover::after,
  .dark p a:hover::after {
    @apply right-auto;
    @apply left-0;
    @apply w-full;
  }

  #cookieBanner {
    @apply right-20 md:right-auto;
    @apply z-40;
  }

  @media (prefers-reduced-motion: reduce) {
    p a,
    p a::after,
    .dark p a::after {
      @apply transition-none;
    }
  }
}
