@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*--------------------------------------------------------------
  Roboto
  --------------------------------------------------------------*/
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/Roboto-Light.woff2') format('woff2'),
      url('/fonts/Roboto-Light.woff') format('woff');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('/fonts/Roboto-LightItalic.woff2') format('woff2'),
      url('/fonts/Roboto-LightItalic.woff') format('woff');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Roboto-Regular.woff2') format('woff2'),
      url('/fonts/Roboto-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/Roboto-Italic.woff2') format('woff2'),
      url('/fonts/Roboto-Italic.woff') format('woff');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Roboto-Medium.woff2') format('woff2'),
      url('/fonts/Roboto-Medium.woff') format('woff');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('/fonts/Roboto-MediumItalic.woff2') format('woff2'),
      url('/fonts/Roboto-MediumItalic.woff') format('woff');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Roboto-Bold.woff2') format('woff2'),
      url('/fonts/Roboto-Bold.woff') format('woff');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/Roboto-BoldItalic.woff2') format('woff2'),
      url('/fonts/Roboto-BoldItalic.woff') format('woff');
  }

  *,
  ::after,
  ::before {
    @apply box-border;
    @apply antialiased;
  }

  *:focus {
    @apply outline-none;
  }

  html,
  body,
  #__next {
    @apply h-full;
  }

  body {
    @apply text-gray-500;
    @apply font-light;
    @apply text-base sm:text-lg xl:text-xl;
    @apply tracking-px;
    @apply leading-normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-gray-800;
  }

  p a {
    @apply relative;
    @apply inline-block;
    @apply transition-colors;
    @apply duration-300;
  }

  p a:hover {
    @apply text-black;
  }

  p a::before,
  p a::after {
    @apply absolute;
    @apply bottom-0;
    @apply left-0;
    @apply w-full;
    @apply h-px;
    @apply bg-black;
    @apply z-0;

    content: '';
  }

  p a::before {
    @apply w-full;
    @apply bg-opacity-20;
  }

  p a::after {
    @apply w-0;
    @apply bg-opacity-30;
    @apply transition-width;
    @apply duration-300;
  }

  p a:hover::after {
    @apply w-full;
  }
}
